<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word list</title>
    <link rel="stylesheet" href="/css/words/list.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div id="word">
      <h3>Words (<%= totalNumber %>)</h3>
      <div class="word-list">
        <% if (words.length !== 0) { %>
        <ul>
          <% words.forEach((word) => { %>
          <li>
            <span> <%= word.name %> </span>
            <form
              action="/wordbooks/<%= wordbookId %>/<%= word._id %>?_method=DELETE"
              method="POST"
            >
              <!-- Hidden field to simulate DELETE method -->
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit">Delete</button>
            </form>
          </li>
          <% }) %>
        </ul>
        <!-- Pagination Controls -->
        <div class="pagination">
          <!-- First page link -->
          <a
            href="/wordbooks/<%= wordbookId %>/list?page=1"
            class="<%= currentPage === 1 ? 'disabled' : '' %>"
            >First</a
          >

          <!-- Previous page link -->
          <a
            href="/wordbooks/<%= wordbookId %>/list?page=<%= currentPage - 1 %>"
            class="<%= currentPage === 1 ? 'disabled' : '' %>"
            >Prev</a
          >

          <!-- Next page link -->
          <a
            href="/wordbooks/<%= wordbookId %>/list?page=<%= currentPage + 1 %>"
            class="<%= currentPage === totalPages ? 'disabled' : '' %>"
            >Next</a
          >

          <!-- Last page link -->
          <a
            href="/wordbooks/<%= wordbookId %>/list?page=<%= totalPages %>"
            class="<%= currentPage === totalPages ? 'disabled' : '' %>"
            >Last</a
          >
        </div>
        <% } else { %>
        <p>There are no words in this wordbook</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
